body {
  background-color: #f1f1f1;
  font-family: sans-serif;
  font-size: 15px;
}
img[class="img-thumbnail"] {
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.text-green {
  color: #009688;
}
.bg-green {
  background-color: #009688;
}
