body {
  background-color: #1f2226;
}
img[class="img-thumbnail"] {
  max-width: 250px;
  background-color: #21354500;
  border: none;
  padding: 0px;
}
.img-container {
  width: max-content;
  background-image: url("https://i.ibb.co/4gvcdby/v894-kul-14-a.jpg");
  background-color: #234750;
  background-position: top;
  border-radius: 100% 0% 0% 0%;
}
.img-container > div {
  background-color: #00000070;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.fa-solid {
  color: #234750;
}
.progress-bar {
  background-color: #234750;
}
footer {
  background-color: #234750;
}
