body {
  background-color: #f1f1f1;
}
img[class="img-thumbnail"] {
  max-width: 100%;
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.fa-solid,
.fa-regular {
  color: #009688;
}
.progress-bar {
  background-color: #009688;
}
footer {
  background-color: #009688;
}
.text-green {
  color: #009688;
}
.bg-green {
  background-color: #009688;
}
